<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <section class="fullscreen bg-gray-400">
        <div class="container-fluid px-0">
            <div class="position-relative">
                <div class="container-lg container-fluid">
        <div class="container-lg container-fluid">
            <div class="row align-items-center vh-100">
                <div class="row justify-content-center">
                    <h1 class="font-size-md-display4 font-weight-medium mb-40px mb-md-5">
                        상품등록.
                    </h1>

                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>