<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}"
      lang="kr">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <!-- Javascript File -->
    <script type="text/javascript" th:src="@{/assets/js/theme.js?cb=1609799846196}"></script>

    <!-- start hero slider -->
    <section class="hero-slider">
        <img class="position-absolute d-none d-md-inline-block" style="top: 115px; left: -1.5rem; z-index: 9;" th:src="@{/assets/img/pattern-02.png}" alt="" />

        <div class="swiper-container home-slider-2">
            <div class="swiper-wrapper">
                <div class="swiper-slide bg-img-hero" th:style="'background-image: url('+@{/assets/img/main_desktop.jpeg}+');'">
                    <div class="container-lg container-fluid">
                        <div class="row home-slider-inner py-9 justify-content-center align-items-center text-center">
                            <div class="col-md-11 col-lg-10 col-xl-9">
                                <div class="row justify-content-center">
                                    <div class="col-8 col-md-6">
                                        <h1 class="font-weight-normal text-light font-size-display2 font-size-md-display1 font-family-unna mb-4 mb-md-6"
                                            data-aos="fade-right" data-aos-once="true" data-aos-duration="300">Find your <br/> Coffee</h1>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <div class="row justify-content-center justify-content-md-between mt-lg-n8">
                                    <div class="col-9 col-md-5 col-lg-4 mb-3 mb-md-0"
                                         data-aos="fade-right" data-aos-once="true" data-aos-duration="600">
                                        <span class="bg-light d-inline-block rounded-circle mb-3" style="width: 21px; height: 21px;"></span>
                                        <h4 class="font-family-sans-serif text-light">내 입맛에 꼭 맞는 커피로 추천받고 구독하세요</h4>
                                    </div><!-- end col -->

                                    <div class="col-9 col-md-5 col-lg-4 mb-3 mb-md-0"
                                         data-aos="fade-left" data-aos-once="true" data-aos-duration="600">
                                        <span class="bg-light d-inline-block rounded-circle mb-3" style="width: 21px; height: 21px;"></span>
                                        <h4 class="font-family-sans-serif text-light">내 취향에 딱 맞는 원두를 추천해요. 구독을 시작하고 항상 무료 배송으로 받아보세요.</h4>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <a href="#" class="font-family-unna d-inline-block btn btn-minimalis-outline-up-light font-size-h4 border border-light rounded-circle mt-4 mt-lg-n4 p-0 " style="line-height: 108px; width: 108px; height: 108px; min-width: 0;"
                                   data-aos="fade-up" data-aos-once="true" data-aos-duration="800">Discover</a>
                            </div><!-- end col -->
                        </div><!-- end home-slider-inner -->
                    </div><!-- end container -->
                </div><!-- end swiper-slide -->

                <div class="swiper-slide bg-img-hero" th:style="'background-image: url('+@{/assets/img/slider/home-slider-6.jpg}+');'">
                    <div class="container-lg container-fluid">
                        <div class="row home-slider-inner py-9 justify-content-center align-items-center text-center">
                            <div class="col-md-11 col-lg-10 col-xl-9">
                                <div class="row justify-content-center">
                                    <div class="col-8 col-md-6">
                                        <h1 class="font-weight-normal text-light font-size-display2 font-size-md-display1 font-family-unna mb-4 mb-md-6"
                                            data-aos="fade-down" data-aos-once="true" data-aos-duration="300">Find your <br/> Coffee</h1>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <div class="row justify-content-center justify-content-md-between mt-lg-n8">
                                    <div class="col-9 col-md-5 col-lg-4 mb-3 mb-md-0"
                                         data-aos="fade-right" data-aos-once="true" data-aos-duration="600">
                                        <span class="bg-light d-inline-block rounded-circle mb-3" style="width: 21px; height: 21px;"></span>
                                        <h4 class="font-family-sans-serif text-light">내 입맛에 꼭 맞는 커피로 추천받고 구독하세요</h4>
                                    </div><!-- end col -->

                                    <div class="col-9 col-md-5 col-lg-4 mb-3 mb-md-0"
                                         data-aos="fade-left" data-aos-once="true" data-aos-duration="600">
                                        <span class="bg-light d-inline-block rounded-circle mb-3" style="width: 21px; height: 21px;"></span>
                                        <h4 class="font-family-sans-serif text-light">내 취향에 딱 맞는 원두를 추천해요. 구독을 시작하고 항상 무료 배송으로 받아보세요.</h4>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <a href="#" class="font-family-unna d-inline-block btn btn-minimalis-outline-up-light font-size-h4 border border-light rounded-circle mt-4 mt-lg-n4 p-0" style="line-height: 108px; width: 108px; height: 108px; min-width: 0;"
                                   data-aos="fade-up" data-aos-once="true" data-aos-duration="800">Discover</a>
                            </div><!-- end col -->
                        </div><!-- end home-slider-inner -->
                    </div><!-- end container -->
                </div><!-- end swiper-slide -->

                <div class="swiper-slide bg-img-hero" th:style="'background-image: url('+@{/assets/img/slider/home-slider-7.jpg}+');'">
                    <div class="container-lg container-fluid">
                        <div class="row home-slider-inner py-9 justify-content-center align-items-center text-center">
                            <div class="col-md-11 col-lg-10 col-xl-9">
                                <div class="row justify-content-center">
                                    <div class="col-8 col-md-6">
                                        <h1 class="font-weight-normal text-light font-size-display2 font-size-md-display1 font-family-unna mb-4 mb-md-6"
                                            data-aos="fade-right" data-aos-once="true" data-aos-duration="300">Find your <br/> Coffee</h1>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <div class="row justify-content-center justify-content-md-between mt-lg-n8">
                                    <div class="col-9 col-md-5 col-lg-4 mb-3 mb-md-0"
                                         data-aos="fade-right" data-aos-once="true" data-aos-duration="600">
                                        <span class="bg-light d-inline-block rounded-circle mb-3" style="width: 21px; height: 21px;"></span>
                                        <h4 class="font-family-sans-serif text-light">내 입맛에 꼭 맞는 커피로 추천받고 구독하세요</h4>
                                    </div><!-- end col -->

                                    <div class="col-9 col-md-5 col-lg-4 mb-3 mb-md-0"
                                         data-aos="fade-left" data-aos-once="true" data-aos-duration="600">
                                        <span class="bg-light d-inline-block rounded-circle mb-3" style="width: 21px; height: 21px;"></span>
                                        <h4 class="font-family-sans-serif text-light">내 취향에 딱 맞는 원두를 추천해요. 구독을 시작하고 항상 무료 배송으로 받아보세요.</h4>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <a href="#" class="font-family-unna d-inline-block btn btn-minimalis-outline-up-light font-size-h4 border border-light rounded-circle mt-4 mt-lg-n4 p-0" style="line-height: 108px; width: 108px; height: 108px; min-width: 0;"
                                   data-aos="fade-up" data-aos-once="true" data-aos-duration="800">Discover</a>
                            </div><!-- end col -->
                        </div><!-- end home-slider-inner -->
                    </div><!-- end container -->
                </div><!-- end swiper-slide -->
            </div><!-- end swiper-wrapper -->

            <!-- Add Arrows -->
            <div class="arrow-icons">
                <i class="flaticon-left-arrow-1 swiper-prev-icon text-white mr-3"></i>
                <i class="flaticon-right-arrow swiper-next-icon text-white ml-3"></i>
            </div><!-- arrows -->
        </div><!-- end swiper-container -->
    </section>
    <!-- end hero slider -->

    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>

    <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a th:href="'/item/' +${item.id}" class="text-dark">
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
                        <div class="card-body">
                            <h4 class="card-title">[[${item.itemNm}]]</h4>
                            <p class="card-text">[[${item.itemDetail}]]</p>
                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>


</div>

</html>